@tailwind base;
@tailwind components;
@tailwind utilities;
.container {
  width: 80%;
  margin: 0px auto;
}

.ant-card:hover .play-button {
  opacity: 1 !important;
}

.ant-card-cover{
  position: relative;
}
.ant-card-cover::before{
  content: "";
  opacity: 0;
  height: 100%;
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  transition: all 0.5s;
}
.ant-card:hover .ant-card-cover::before{
  opacity: 1;
  content: "";
  height: 100% !important  ;
  width: 100%;
  background: linear-gradient(to top,#000,transparent 100%) !important;
  z-index: 3;
  
}
#default-search{
  display: flex;
flex-direction: row;
align-items: center;
padding: 16px 32px;
gap: 8px;

width: 380px;
height: 49px;

background: linear-gradient(154.49deg, rgba(121, 117, 131, 0.2) 5.35%, rgba(54, 53, 103, 0.2) 83.85%), rgba(49, 48, 54, 0.3);
border-radius: 12px;

/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
}